* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.wrapper {
    max-width: 900px;
    margin: 0 auto;
    padding: 0;
}

.page-navigation {
    position: relative;
    background-color: #1aa4ff;
}

.wrappe,
.wrapper-menu_outer_item {
    list-style-type: none;
    max-width: 900px;
    margin: 0 auto;
}

.menu_item,
.outer_item {
    display: inline-block;
}

.view {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
}

.menu_item_link {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: -1.10px;
}

.menu_outer_item {
    position: absolute;
    display: none;
    top: 100%;
    right: 0;
    left: 0;
    background-color: #eee; 
}

.outer_item_link {
    font-size: 15px;
    font-weight: normal;
    color: #a6a4a5;
}

.menu_item_link:hover {
    background-color: #eee;
    color: #a6a4a5;
}

.menu_item_link:hover + .menu_outer_item {
    display: block;
    width: 100%;
} 
